::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: -moz-gradient(linear, left top, left bottom, from(var(--scrollbar)), to(#000));
  background: -webkit-gradient(linear, left bottom, left top, from(var(--scrollbar)), to(#000));
  background: linear-gradient(360deg, var(--scrollbar), #000);
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:hover {
  background: -moz-gradient(linear, left top, left bottom, from(#000), to(var(--scrollbar)));
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(var(--scrollbar)));
  background: linear-gradient(360deg, #000, var(--scrollbar));
}

::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #100e17 0, #100e17);
}

::-moz-selection {
  background: #605080;
  color: #FFF;
}

::selection {
  background: #605080;
  color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body:before {
  position: absolute;
  opacity: 0.05;
  background: url("../img/bg_home.png") no-repeat center/cover;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

body {
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  font-family: 'Exo 2', sans-serif;
  background: #1a1d1f;
}

p {
  color: #fff;
  margin: 3rem 0;
  line-height: 4rem;
  font-size: 1.8rem;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

h3 {
  font-size: 3rem;
  color: #ccc;
  margin: 1rem 0;
}

h5 {
  color: #ccc;
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.header {
  -webkit-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
  position: fixed;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
}

.header nav {
  width: 50rem;
  text-transform: uppercase;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header nav ul li a {
  -webkit-transition: ease 1s;
  transition: ease 1s;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.header nav ul li a:hover {
  -webkit-transition: ease 1s;
  transition: ease 1s;
  background: #5c94cd;
  border-radius: 16% 84% 78% 22% / 47% 49% 51% 53%;
}

.header .logo img {
  pointer-events: none;
  height: 4.5rem;
}

.container {
  height: 100vh;
  width: 100vw;
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons a {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  margin: 1rem;
  cursor: pointer;
}

.icons a .iconify:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#home .content {
  width: 35%;
}

#home .content button {
  outline: none;
  border: none;
  background: transparent;
  padding: 1rem 0;
  line-height: 0;
  height: 5rem;
  width: 25rem;
  font-size: 1.5rem;
  color: #fff;
  border-top: 3px solid #5c94cd;
  border-bottom: 5px double #5c94cd;
  border-radius: 90% 44% 50% / 50% 90% 90%;
  margin: 2rem 0;
  cursor: pointer;
  -webkit-transition: background 1.5s ease;
  transition: background 1.5s ease;
}

#home .content button:hover {
  -webkit-transition: background 1.5s ease;
  transition: background 1.5s ease;
  background: rgba(92, 148, 205, 0.7);
}

#home .content button:hover.iconify {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#home .content button .iconify {
  margin: -.2rem .5rem;
  font-size: 1.5rem;
}

#home .images {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  width: 40%;
  position: relative;
}

#home .images img {
  width: 36.5vw;
}

#home .images img:nth-of-type(2) {
  -webkit-animation: spin 35s alternate infinite;
          animation: spin 35s alternate infinite;
  z-index: -1;
}

#home .images .bg {
  position: absolute;
  top: 5%;
  right: 10%;
  -webkit-filter: drop-shadow(2px 4px 8px #5c94cd);
          filter: drop-shadow(2px 4px 8px #5c94cd);
  -webkit-animation: float 2s linear infinite;
          animation: float 2s linear infinite;
  z-index: 1;
}

#about:before {
  position: fixed;
  opacity: 0.06;
  background: url("../img/overlay.jpg") no-repeat center/cover;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

#about .about {
  position: absolute;
  top: 100%;
  max-width: 85vw;
  margin: 0 auto;
  padding: 5rem 0;
}

#about .about .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about .imgBox img {
  width: 350px;
  height: 250px;
  -webkit-filter: drop-shadow(2px 4px 8px #5c94cd);
          filter: drop-shadow(2px 4px 8px #5c94cd);
  -webkit-transform: scale(0.7) perspective(10em) rotateX(15deg);
          transform: scale(0.7) perspective(10em) rotateX(15deg);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#about .about .imgBox img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(0.9) perspective(10em) rotateX(-10deg);
          transform: scale(0.9) perspective(10em) rotateX(-10deg);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#partners h1 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  letter-spacing: 1rem;
  position: relative;
  left: 1rem;
  top: 10rem;
}

#partners .icon {
  cursor: pointer;
  position: relative;
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#partners .icon .iconBx {
  position: relative;
  width: calc(100% - 100px);
  margin: 0 30px 30px 0;
  padding: 0 25px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 4px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

#partners .icon .iconBx img {
  max-width: 100%;
  height: 95%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#partners .icon .iconBx.active {
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

#partners .icon .iconBx.active img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1);
          transform: scale(1);
}

#partners .partners_content {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

#partners .partners_content .contentBx {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

#partners .partners_content .active {
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#partners .partners_content .active h2 {
  color: #fff;
  font-size: 3rem;
}

#partners .partners_content .active p {
  font-size: 2rem;
}

#partners .partners_content .text {
  position: absolute;
  color: #fff;
  margin: 64px 0;
}

#faq {
  max-height: 100vh;
  width: 80%;
  margin: 20rem auto 25rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#faq .title {
  margin: 2rem 0;
}

#faq .questions {
  max-width: 850px;
  cursor: pointer;
}

#faq .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 0;
}

#faq .question h3 {
  font-size: 1.8rem;
}

#faq .answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1.5s ease;
  transition: max-height 1.5s ease;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#faq .answer p {
  margin: 1rem .5rem;
  line-height: 3.5rem;
  font-size: 1.4rem;
}

#faq .answer p a {
  color: #5c94cd;
  font-weight: 600;
  text-decoration: none;
}

#faq .answer p a:hover {
  text-decoration: underline;
  opacity: .8;
}

#faq .questions.active h3::before {
  content: url("https://api.iconify.design/clarity/help-info-solid.svg?color=gray&height=25");
  position: relative;
  right: 20px;
}

#faq .questions.active .answer {
  max-height: 600px;
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

#faq .questions svg {
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

#faq .questions.active svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

#form {
  position: relative;
  margin: 20rem auto 10rem auto;
  width: 550px;
  height: 80px;
  /* Styled from MailChimp to check form bots signups */
}

#form .form-text {
  position: absolute;
  bottom: 25%;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form .realPeople {
  position: absolute;
  left: -350rem;
}

#form input {
  position: absolute;
  width: 100%;
  height: 4.2rem;
  left: 0;
  border: 2px solid #5c94cd;
  border-radius: 5rem;
  background: transparent;
  outline: 0;
  padding: 1em;
  color: #fff;
  font-size: 1em;
}

#form input::-webkit-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}

#form input:-moz-placeholder {
  color: #fff;
  text-transform: capitalize;
}

#form input::-moz-placeholder {
  color: #fff;
  text-transform: capitalize;
}

#form input:-ms-input-placeholder {
  color: #fff;
  text-transform: capitalize;
}

#form input:focus {
  background: rgba(92, 148, 205, 0.1);
}

#form input:focus + label {
  letter-spacing: 3px;
  -webkit-transform: translateY(-60px) scale(1);
          transform: translateY(-60px) scale(1);
  color: #fff;
}

#form input:focus + label + button {
  opacity: 1;
}

#form input:focus + label#email-error {
  width: 100%;
  color: rgba(255, 0, 0, 0.7);
  -webkit-transition: ease 2s color;
  transition: ease 2s color;
}

#form input:-webkit-autofill {
  -webkit-background-clip: text;
  background-clip: text;
  background-clip: #fff;
  -webkit-text-fill-color: #fff;
}

#form input[type="submit"] {
  position: absolute;
  top: 0;
  cursor: pointer;
}

#form label {
  -webkit-transform: translateY(-1rem) scale(0.8);
          transform: translateY(-1rem) scale(0.8);
  position: absolute;
  left: 1em;
  top: 12rem;
  font-weight: 600;
  margin-top: -8px;
  color: #fff;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  letter-spacing: 1px;
  -webkit-transition: color 0.25s ease-out, -webkit-transform 0.25s ease-out;
  transition: color 0.25s ease-out, -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out, color 0.25s ease-out;
  transition: transform 0.25s ease-out, color 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#form label#email-error {
  width: 685px;
  color: #fff;
  -webkit-transition: ease 2s color;
  transition: ease 2s color;
  margin-left: -15px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form button {
  position: absolute;
  right: 0;
  width: 120px;
  height: 4.2rem;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  background: #5c94cd;
  color: #fff;
  cursor: pointer;
  outline: none;
  display: none;
  opacity: 1;
  -webkit-transition: opacity 2.35s ease-out, width 0.5s ease-out, background 0.25s ease-out;
  transition: opacity 2.35s ease-out, width 0.5s ease-out, background 0.25s ease-out;
}

#form button.is-active {
  border-radius: 5rem;
  background: #5c94cd;
  color: #fff;
}

#form button.is-done {
  width: 100%;
}

.footer {
  position: absolute;
  left: 0;
  height: 30vh;
  padding: 10rem 0;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  background: #111;
}

.footer p {
  border-width: 100%;
  margin: 0;
  color: #fff;
}

.footer a {
  color: #5c94cd;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

.footer .contact-socials {
  margin: 3rem 0;
}

.footer .contact-socials .iconify {
  margin: 0 0 -3px 5px;
}

.footer .contact-socials a {
  text-decoration: none;
  padding: 1.5rem;
  margin: 0 5rem;
  border-radius: 1.2rem;
  color: #fff;
  font-size: 1.2rem;
}

.footer .contact-socials a:hover {
  border: 1px solid #fff;
}

.footer #smoothScroll {
  position: fixed;
  background-color: rgba(92, 148, 205, 0.1);
  border: solid 1px;
  border-color: #5c94cd;
  padding: 1.2rem;
  border-radius: 1rem;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  text-align: center;
  line-height: 1rem;
  visibility: hidden;
}

.icon,
.partners_content {
  margin-top: 20rem;
}

@media only screen and (max-width: 780px) {
  #home .content {
    width: 50%;
  }
  #home .content button {
    height: 5rem;
    width: 15rem;
    font-size: 1rem;
  }
  #home .content button .iconify {
    font-size: 1rem;
  }
  #about .about .imgBox {
    display: none;
  }
  #partners .icon .iconBx {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    margin: 0 1rem;
    padding-top: 5rem;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h5 {
    font-size: .8rem;
  }
  .header nav ul li a {
    font-size: .8rem;
    margin: 0 .5rem;
    padding: .2rem;
  }
  #partners {
    display: none;
  }
  #faq {
    padding-top: 65rem;
    padding-bottom: 20rem;
  }
  #faq .questions {
    max-width: 400px;
  }
  #home .images {
    position: relative;
    bottom: 20%;
  }
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@-webkit-keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

@keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes imageMove {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform: scale(0.7) rotateX(-5deg);
            transform: scale(0.7) rotateX(-5deg);
  }
  50% {
    -webkit-transform: scale(0.7) rotateX(30deg);
            transform: scale(0.7) rotateX(30deg);
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform: translate3d(-30px, -140px, 0);
            transform: translate3d(-30px, -140px, 0);
  }
}

@keyframes imageMove {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform: scale(0.7) rotateX(-5deg);
            transform: scale(0.7) rotateX(-5deg);
  }
  50% {
    -webkit-transform: scale(0.7) rotateX(30deg);
            transform: scale(0.7) rotateX(30deg);
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    -webkit-transform: translate3d(-30px, -140px, 0);
            transform: translate3d(-30px, -140px, 0);
  }
}
/*# sourceMappingURL=style.css.map */