@import './_variables';
@import './functions';
@import './scrollbar';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body:before {
    @include backgroundBefore(absolute, .02, url('../img/bg_home.webp') no-repeat center / cover);
}

body {
    font-size: 16px;
    user-select: none;
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
    background: $primaryColor;
}

p {
    color: #fff;
    margin: 3rem 0;
    line-height: 4rem;
    font-size: 1.4rem;
}

h1 {
    font-size: 4rem;
    color: #fff;
}

h2 {
    font-size: 2rem;
    color: #ccc;
    margin: 1rem 0;
}

h3 {
    font-size: 1.4rem;
    color: #ccc;
    margin: 1rem 0;
}

h5 {
    color: #ccc;
    font-size: 1rem;
}

.text-center {
    text-align: center;
}


/* Rewrite Swal */

.swal2-popup {
    background: rgba($color: #111, $alpha: .8);
    box-shadow: .1rem .1rem 1rem 0.01rem $lightblue;
}

.swal2-html-container,
.swal2-title {
    color: #fff;
}

.swal2-styled.swal2-confirm {
    border: 2px solid $lightblue;
    width: 25rem;
    height: 3rem;
    border-radius: 2rem;
    transition: background-color ease 2s;
    background-color: transparent;
    color: #fff;
    &:hover {
        transition: background-color ease 2s;
        background-color: $lightblue;
    }
    &:focus {
        box-shadow: none;
    }
}

.header {
    transition: background-color 600ms linear;
    position: fixed;
    z-index: 2;
    width: 100%;
    @include flexCenter(space-between);
    padding: 1rem 3rem;
    img {
        pointer-events: none;
        height: 4.5rem;
    }
    nav {
        width: 50rem;
        text-transform: uppercase;
        transition: all .2s linear;
        ul {
            @include flexCenter(space-around);
            list-style: none;
            li {
                a {
                    transition: ease 1s;
                    text-decoration: none;
                    color: #fff;
                    font-size: 2rem;
                    padding: 1rem;
                    &:hover {
                        transition: ease 1s;
                        background: $lightblue;
                        border-radius: 16% 84% 78% 22% / 47% 49% 51% 53%;
                    }
                }
            }
        }
    }
}

.container {
    height: 100vh;
    width: 100vw;
    padding-top: 10rem;
    @include flexCenter(space-around);
}

.icons {
    a {
        text-decoration: none;
        color: #fff;
        font-size: 3rem;
        margin: 1rem;
        cursor: pointer;
        .iconify:hover {
            transform: scale(.9);
        }
    }
}

#home {
    .content {
        width: 35%;
        button {
            outline: none;
            border: none;
            background: transparent;
            padding: 1rem 0;
            line-height: 0;
            height: 5rem;
            width: 25rem;
            font-size: 1.5rem;
            color: #fff;
            border-top: 3px solid $lightblue;
            border-bottom: 5px double $lightblue;
            border-radius: 90% 44% 50% / 50% 90% 90%;
            margin: 2rem 0;
            cursor: pointer;
            transition: background 1.5s ease;
            &:hover {
                transition: background 1.5s ease;
                background: rgba($lightblue, $alpha: .7)
            }
            &:hover.iconify {
                transform: scale(1.1);
            }
            .iconify {
                margin: -.2rem .5rem;
                font-size: 1.5rem;
            }
        }
    }
    .images {
        user-select: none;
        pointer-events: none;
        width: 40%;
        position: relative;
        img {
            width: 36.5vw;
        }
        img:nth-of-type(2) {
            opacity: .5;
            animation: spin 35s alternate infinite;
            z-index: -1;
        }
        .bg {
            position: absolute;
            top: 5%;
            right: 10%;
            filter: drop-shadow(2px 4px 8px $lightblue);
            animation: float 2s linear infinite;
            z-index: 1;
        }
    }
}

#about:before {
    @include backgroundBefore(fixed,
    .06,
    url('../img/overlay.webp') no-repeat center / cover);
}

#about {
    .about {
        position: absolute;
        top: 100%;
        max-width: 85vw;
        margin: 0 auto;
        padding: 5rem 0;
        .imgBox {
            @include flexCenter(center);
            img {
                width: 350px;
                height: 250px;
                filter: drop-shadow(2px 4px 8px $lightblue);
                transform: scale(0.7) perspective(10em) rotateX(15deg);
                transition: transform .5s ease;
                &:hover {
                    filter: none;
                    transform: scale(0.9) perspective(10em) rotateX(-10deg);
                    transition: transform .5s ease;
                }
            }
        }
    }
}

#partners {
    h1 {
        writing-mode: vertical-lr;
        letter-spacing: 1rem;
    }
    .icon {
        cursor: pointer;
        position: relative;
        width: 40%;
        text-align: center;
        @include flexCenter2;
        .iconBx {
            position: relative;
            width: calc(100% - 100px);
            margin: 0 30px 30px 0;
            padding: 0 25px;
            height: 140px;
            @include flexCenter2;
            border-radius: 4px;
            transition: .5s;
            box-shadow: 0 5px 15px rgba($color: #000000, $alpha: .7);
            img {
                max-width: 100%;
                height: 95%;
                filter: grayscale(1);
                transition: .5s;
                transform: scale(.8);
            }
        }
        .iconBx.active {
            box-shadow: 0 5px 30px rgba($color: #000000, $alpha: .1);
            img {
                filter: grayscale(0);
                transform: scale(1);
            }
        }
    }
    .partners_content {
        position: relative;
        width: 50%;
        height: 100%;
        overflow: hidden;
        .contentBx {
            width: 100%;
            @include flexCenter(center);
            transition: .5s;
            transform: scale(0);
            opacity: 0;
        }
        .active {
            display: block;
            transition: .5s;
            transform: scale(1);
            opacity: 1;
            h2 {
                color: #fff;
                font-size: 2rem;
            }
        }
        .text {
            position: absolute;
            color: #fff;
            margin: 64px 0;
        }
    }
}

#faq {
    max-height: 100vh;
    width: 80%;
    margin: 5rem auto 25rem auto;
    @include flexCenter(center);
    .title {
        margin: 2rem 0;
    }
    .questions {
        max-width: 850px;
        cursor: pointer;
    }
    .question {
        @include flexCenter(space-between);
        padding: 2.5rem 0;
    }
    .question h1 {
        font-size: 1.8rem;
        color: #fff;
    }
    .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.5s ease;
        border-bottom: 2px solid rgba($color: #fff, $alpha: .3);
    }
    .answer p {
        margin: 1rem .5rem;
        line-height: 3.5rem;
        font-size: 1.4rem;
        a {
            color: $lightblue;
            font-weight: 600;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                opacity: .8;
            }
        }
    }
    .questions.active h1::before {
        content: url('https://api.iconify.design/akar-icons/chat-question.svg?color=darkgray&height=25');
        position: relative;
        right: 20px;
    }
    .questions.active .answer {
        max-height: 600px;
        animation: fade 1s ease-in-out;
    }
    .questions svg {
        color: #fff;
        width: 1.1em;
        height: 1.1em;
        transition: transform .5s ease-in;
    }
    .questions.active svg {
        transform: rotate(180deg);
        transition: .7s ease;
    }
}

#form {
    position: relative;
    margin: 20rem auto 10rem auto;
    width: 550px;
    height: 80px;
    .form-text {
        position: absolute;
        bottom: 25%;
        min-width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /* Styled from MailChimp to check form bots signups */
    .realPeople {
        position: absolute;
        left: -350rem;
    }
    input {
        @include placeholder {
            color: #fff;
            text-transform: capitalize;
        }
        position: absolute;
        width: 100%;
        height: 4.2rem;
        left: 0;
        border: 2px solid $lightblue;
        border-radius: 5rem;
        background: transparent;
        outline: 0;
        padding: 1em;
        color: #fff;
        font-size: 1em;
        &:focus {
            background: rgba($lightblue, $alpha: .1);
        }
        &:focus+label {
            letter-spacing: 3px;
            transform: translateY(-60px) scale(1);
            color: #fff;
            +button {
                display: none;
            }
        }
        &:focus+label#EMAIL-error {
            width: 100%;
            color: rgba($secondaryColor, $alpha: .7);
            transition: ease 2s color;
        }
    }
    input:-webkit-autofill {
        -webkit-background-clip: text;
        background-clip: text;
        background-clip: #fff;
        -webkit-text-fill-color: #fff;
    }
    input[type="submit"] {
        position: absolute;
        top: 0;
        cursor: pointer;
    }
    label {
        transform: translateY(-1rem) scale(0.8);
        position: absolute;
        left: 1em;
        top: 12rem;
        font-weight: 600;
        margin-top: -8px;
        color: #fff;
        transform-origin: left center;
        letter-spacing: 1px;
        transition: transform 0.25s ease-out, color 0.25s ease-out;
    }
    label#EMAIL-error {
        width: 685px;
        color: #fff;
        transition: ease 2s color;
        margin-left: -15px;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    button {
        position: absolute;
        right: 0;
        width: 120px;
        height: 4.2rem;
        border: 0;
        border-radius: 0 50% 50% 0 / 80% 80%;
        font-size: 1em;
        background: $lightblue;
        color: #fff;
        cursor: pointer;
        opacity: 0;
        display: none;
        outline: none;
        transition: opacity 2.35s ease-out, width 0.5s ease-out, background 0.25s ease-out;
    }
    button.is-active {
        border-radius: 5rem;
        background: $lightblue;
        color: #fff;
    }
    button.is-done {
        width: 100%;
    }
}

.footer {
    position: absolute;
    left: 0;
    height: 30vh;
    padding: 10rem 0;
    margin-top: 10rem;
    @include flexCenter(center);
    flex-direction: column;
    width: 100vw;
    background: #111;
    p {
        border-width: 100%;
        margin: 0;
        color: #fff;
    }
    a {
        color: $lightblue;
        border-bottom: 2px solid #fff;
        border-top: 2px solid #fff;
    }
    .contact-socials {
        margin: 3rem 0;
    }
    .contact-socials .iconify {
        margin: 0 0 -3px 5px;
    }
    .contact-socials a {
        text-decoration: none;
        padding: 1.5rem;
        margin: 0 5rem;
        border-radius: 1.2rem;
        color: #fff;
        font-size: 1.2rem;
        &:hover {
            border: 1px solid #fff;
        }
    }
    #smoothScroll {
        position: fixed;
        background-color: rgba($lightblue, $alpha: .1);
        border: solid 1px;
        border-color: $lightblue;
        padding: 1.2rem;
        border-radius: 1rem;
        bottom: 1rem;
        right: 1rem;
        font-size: 2rem;
        text-align: center;
        line-height: 1rem;
        visibility: hidden;
    }
}

@media only screen and (max-width: 780px) {
    #home .content {
        width: 50%;
    }
    #home .content button {
        height: 5rem;
        width: 15rem;
        font-size: 1rem;
    }
    #home .content button .iconify {
        font-size: 1rem;
    }
    #about .about .imgBox {
        display: none;
    }
    #partners .icon .iconBx {
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        margin: 0 1rem;
        padding-top: 5rem;
    }
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1rem;
    }
    h5 {
        font-size: .8rem;
    }
    .header nav ul li a {
        font-size: .8rem;
        margin: 0 .5rem;
        padding: .2rem;
    }
    #partners {
        display: none;
    }
    #faq {
        padding-top: 65rem;
        padding-bottom: 20rem;
    }
    #faq .questions {
        max-width: 400px;
    }
    #home .images {
        position: relative;
        bottom: 20%;
    }
    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2rem);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes imageMove {
    0% {
        transform: translate3d(0, 0, 0);
        transform: scale(.7) rotateX(-5deg);
    }
    50% {
        transform: scale(.7) rotateX(30deg);
    }
    100% {
        transform: rotate(60deg);
        transform: translate3d(-30px, -140px, 0);
    }
}